<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/update}" th:object="${editUser}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="hidden" th:field="*{id}" th:value="${editUser.id}" />
    <input type="hidden" th:field="*{roles}" th:value="${editUser.roles}" />
    <button type="submit">Update!</button>
</form>

<br>
<br>
<a class="link" th:href="@{/logout}">Logout</a>

</body>
</html>