<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All</title>
</head>
<body>

<div th:each="user : ${users}">
  <a th:href="@{/admin/user(id=${user.getId()})}" th:text="${user.getId()}">user </a>
  <a th:text="${user.getUsername()}">user </a>
  <a th:text="${user.getPassword()}">user </a>
  <a th:text="${user.getEmail()}">user </a>

</div>

<br/>
<hr/>

<a href="/admin/new">Create new person</a>

<br>
<br>
<a class="link" th:href="@{/logout}">Logout</a>

</body>
</html>