<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/create}" th:object="${newUser}">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

    <label for="name"> Enter name: </label>
    <input type="text" th:field="*{username}" id="name">
    <br>
    <label for="password"> Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <label for="email"> Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br>
    <p>Roles: </p>
    <th:block th:each="role: ${roles}">
            <input type="checkbox" th:field="*{roles}"
                   th:text="${role.name}" th:value="${role.id}"/>
    </th:block>
    <br>
    <input class="link" type="submit" value="Create">
</form>

<br>
<br>
<a class="link" th:href="@{/logout}">Logout</a>

</body>
</html>