<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<a th:text="${user.getId()}">VALUE</a>
<a th:text="${user.getUsername()}">VALUE</a>
<a th:text="${user.getEmail()}">VALUE</a>
<br>

<a th:href="@{/admin/edit(id=${user.getId()})}" th:text="UPDATE"> up </a>


<form th:method="DELETE" th:action="@{/admin/delete}" th:object="${user}">
    <input type="hidden" th:field="*{id}" th:value="${user.id}" />
    <input type="hidden" th:field="*{username}" th:value="${user.username}" />
    <input type="hidden" th:field="*{roles}" th:value="${user.roles}" />
    <input type="hidden" th:field="*{email}" th:value="${user.email}" />
    <button type="submit">DELETE</button>
</form>
<br>
<br>
<a class="link" th:href="@{/logout}">Logout</a>

</body>
</html>